* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #040714 !important;
  color: #f9f9f9 !important;
  font-family: Avenir-Roman, sans-serif !important;
}
a {
  color: #f9f9f9;
  text-decoration: none;
}
.index {
  background: url("/src/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 500px !important;
  padding: 10px;
  border-radius: 10px;
  color: #040714;
  border: 2px solid #0483ee;
  outline: none;
  background: transparent;
  color: #f9f9f9;
}
.searchbar::placeholder {
  color: #ccc;
}
.form {
  max-width: 500px;
  margin: auto;
}
.searched {
  width: 500px;
  margin: auto;
  height: 350px;
}
.handle-submit {
  width: 300px;
  color: #f9f9f9;
  background: #0063e5;
  border: none;
  padding: 12px 0px;
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
  font-size: 18px;
  border-radius: 4px;
  transition: 0.5s;
  &:hover {
    background-color: #0483ee;
  }
}

.showcase {
  margin: 0px;
  background: #000;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}

.sub-text {
  font-size: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.search-title {
  font-size: 13px;
}
.link {
  color: rgb(249, 249, 249);
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  &:hover {
    color: #0063e5;
  }
}
.hd-link {
  color: rgb(249, 249, 249);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  &:hover {
    color: #0063e5;
  }
}
.movie-img {
  cursor: pointer;
  transition: 0.7s;
  &:hover {
    filter: brightness(60%);
  }
}
.movie_title {
  cursor: pointer;
  transition: 0.7s;
  font-size: 14px;
  margin-top: 5px;
  text-align: left !important;
  &:hover {
    color: #0063e5;
  }
}
.movie-sub-text {
  font-size: 10px;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    color: #0063e5;
  }
}
.vid-player {
  width: 100% !important ;
}
.nav-search {
  outline: none;
  width: 300px;
  padding: 5px 8px;
}
.nav-button {
  background-color: #0483ee;
  border: none;
  color: #f9f9f9;
  font-weight: bold;
  margin: 0px 0px 0px 10px;
  width: 100px;
  padding: 5px 0px;
  transition: 0.5s;
  &:hover {
    background: #0063e5;
  }
}
.nav-searched {
  width: 300px;
  margin: auto;
  z-index: 1;
  position: absolute;
  right: 200px;
  height: 300px;
}
.nav-bar {
  position: relative;
  z-index: 0;
  background: #040714;
}
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
  .searchbar {
    max-width: 100% !important;
  }
  .searched {
    width: 100% !important;
    height: 400px;
  }
  .title {
    font-size: 18px !important;
  }
  .movie_title {
    text-align: center !important;
  }
  .mob-img {
    width: 100% !important;
  }
  .nav-search {
    margin-left: 0px !important;
    margin-top: 20px;
    outline: none;
    max-width: 100% !important;
    padding: 5px 8px;
  }
  .form {
    max-width: 100% !important;
  }
  .nav-button {
    background-color: #0483ee;
    border: none;
    color: #f9f9f9;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
    width: 100% !important;
    padding: 5px 0px;
    transition: 0.5s;
    &:hover {
      background: #0063e5;
    }
  }
  .nav-searched {
    max-width: 100% !important;
    margin: 0 !important;
    z-index: 1;
    right: 00px;
    height: 400px;
  }
  .searchbar {
    width: 100% !important;
  }
}
ul {
  padding: 0px !important;
}
.mob-img {
  width: 200px;
}
.pagination {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.page-btn {
  background: #0483ee;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
}
.top-bar {
  padding: 5px;
  background: #0483ee;
}
.vid-player {
  border: 2px solid #0063e5;
  border-radius: 15px;
}
.sm-text {
  text-transform: capitalize;
}
.poster {
  border-radius: 5px;
  border: 1px solid rgba(4, 131, 238, 0.5);
  text-shadow: 10px #f1f1f1;
}
.title-name {
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    color: #0063e5;
  }
}
